registry=http://nexus.nuedev.click/repository/npm-group/
always-auth=true
//nexus.nuedev.click/repository/npm-group/:_authToken=NpmToken.a05a70c6-bbd2-3b07-8fd5-ffdbc3c4c8a3
//nexus.nuedev.click/repository/npm-private/:_authToken=NpmToken.a05a70c6-bbd2-3b07-8fd5-ffdbc3c4c8a3
